/* 
Transition timing function
ease significa desacelerar/frenar
ease: La transición comienza lentamente, acelera bruscamente y luego disminuye lentamente hacia el final.
ease-in: La transición comienza lentamente, y luego se acelera progresivamente hasta el final.
ease-out: La animación comienza abruptamente y luego se ralentiza progresivamente hacia el final. 
ease-in-out: La animación comienza lentamente, se acelera y luego se ralentiza hacia el final.
linear: La transición se mueve de principio a fin a una velocidad constante.
función calc: Nos sirve para hacer cálculos.
  calc(value operation value...)
Shorthand transition
transition: 2s transform ease-in
transition: transform 2s ease-in
transition: ease-in transform 2s
*/
body
{
  margin: 0;
}
.container
{
  background-color: salmon;
}
.box
{
    width: 80px;
    height: 60px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8;
    margin: 2rem 0;
    transition: transform;
    transition-duration:2s ;
}

.container:hover .box
{
  /* la propiedad calc permite hacer calculos matematicos  y le esatmos deiciendo que se traslade el box el 100 porciento de vw(viewport
  width), es decir todo el ancho disponible,per que le reste el 100% de la caja o el box para que se se salga del boody */
  transform: translateX(calc(100vw - 100%));
}
.ease
{
  transition-timing-function: ease;
}
.ease-in
{
  transition-timing-function: ease-in;
}
.ease-in-out
{
  transition-timing-function: ease-in-out;
}
.linear
{
  transition-timing-function: linear;
}
